SECRET_KEY_BASE=change-me-with-rails-secret
FRONTEND_URL=http://localhost:3001
POSTGRES_HOST=chatwoot-postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=chatwoot
POSTGRES_USERNAME=chatwoot
POSTGRES_PASSWORD=change-me
REDIS_URL=redis://chatwoot-redis:6379
RAILS_ENV=production
NODE_ENV=production
INSTALLATION_ENV=docker
